.button_data_tambah,
.button_data_import,
.button_data_export{
    margin-right: 1em;
    margin-bottom: 1em;
}

.data_diri,
.alamat_pribadi,
.pendidikan_kerja,
.data_ortu {
    margin-top: 2em;
}

a {
    text-decoration: none;
}

/* CSS untuk menyesuaikan jarak antara tombol */
.dataTables_wrapper .btn {
    margin-right: 10px; /* Sesuaikan angka ini sesuai kebutuhan jarak horizontal antar tombol */
    
}


